# **Тимлид:**
Ефремов Артур <anon.yu@mail.ru>

# **Логика:**
Побединский Сергей
Хечнев Илья <Ilya_Khechnev@outlook.com>
Юн Артем

# **Гуи:**
Салахиев Вячеслав
Фадейкин Леонид
Саяпин Матвей

# **Файлы:**
Изотов Александр
Бражников Ярослав
Сат Андрей <sat.2018@stud.nstu.ru>

# **Геометрия:**
Милютин Василий
Ртищева Ксения
Жукова Дарья

# **Тестировка:**
Филатова Алина
Полухин Денис
Есипенко Андрей
Александр Михеев
