# **Тимлид:**
Ефремов Артур <anon.yu@mail.ru>

# **Логика:**
Побединский Сергей <sergeypobwer@yandex.ru>
Хечнев Илья <Ilya_Khechnev@outlook.com>
Юн Артем <strongmouse5088@gmail.com>

# **Гуи:**
Салахиев Вячеслав
Фадейкин Леонид
Саяпин Матвей

# **Файлы:**
Изотов Александр <ghost20032@gmail.com>
Бражников Ярослав
Сат Андрей <sat.2018@stud.nstu.ru>

# **Геометрия:**
Милютин Василий <wasilkas54@gmail.com>
Ртищева Ксения <ksyushartisheva@mail.ru>
Жукова Дарья <darena7377@gmail.com>

# **Тестировка:**
Филатова Алина <iamparfentia@gmail.com>
Полухин Денис
Есипенко Андрей <andrei2001-01@list.ru>
Александр Михеев
Хрущев Никита
